<p>LIST WORKS!</p>
<div class="searchDiv">
  <div class="input-container">
    <div class="searchInput__Container">
      <form [formGroup]="searchForm">
        <mat-icon class="searchInput__SearchIcon">search</mat-icon>
        <input
          #searchInput
          formControlName="searchTerm"
          placeholder="Suche nach Mitarbeiter:innen"
          style="padding-left: 40px"
        />
        <button
          (click)="clearSearch()"
          *ngIf="searchForm.get('searchTerm')?.value !== ''"
          [@fade]
          class="closeBtn">
        </button>
      </form>
    </div>
  </div>
</div>

<div class="ListDiv">
  <ul>
    <li
        (click)="handleEmployeeClick(employee.id)"
        *ngFor="let employee of filteredEmployees; let i = index"
        [class.selected]="employee.id === selectedEmployeeIndex"
        class="einzelnerMitarbeiter">

        <span>{{ employee.lastName }} {{ employee.firstName }}</span></li>
  </ul>
</div>

<div class="addDiv">
  <button (click)="openAddEmployeeDialog()" class="btnAdd">
    <div class="buttonContent__Wrapper">
      <p class="buttonText">Mitarbeiter:innen hinzufügen</p>
    </div>
  </button>
</div>
