.flex-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  width: 100%;
  padding: 20px;
  background-color: rgb(60,60,60);
  border: 2px;
  border-style: solid;
  border-color: rgb(120,0,120);
}

.flex-container > div {
  width: 100%;
  background: none;
  padding: 8px;
}

.searchDiv {
  flex-grow: 0;
  flex-shrink: 1;
  padding: 10px;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.searchInput__Container {
  position: relative;
  display: inline-block;
  width: 100%;
}

input {
  padding-right: 40px;
  padding-left: 40px;
  height: 50px;
  font-size: 16px;
}

.searchInput__SearchIcon {
  position: absolute;
  top: 50%;
  left: 10px;
  color: rgb(200,0,200);
  transform: translateY(-50%);
  font-weight: bold;
}

.closeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-weight: bold;
  background-color: var(--main-green);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
  opacity: 60%;
}

button:hover {
  background-color: var(--hover-button-grey);
}

form {
  flex-grow: 1;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #394240;
  border-radius: 4px;
  font-size: 14px;
  color: var(--main-text-color);
  background-color: var(--main-card-bg);
}

input::placeholder {
  color: #999999;
}

input:focus {
  outline: none;
  border-color: var(--main-green);
}

.listDiv {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  font-size: larger;
  padding: 10px;
  background-color: rgb(60,60,60);
}

.employeeList {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: rgb(60,60,60);
}

.einzelnerMitarbeiter {
  position: relative;
  overflow: hidden;
  padding: 2rem;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  user-select: none;
  background-color: var(--main-card-bg);
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  color: white;
}

.einzelnerMitarbeiter:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
  color: rgb(170,0,170);
}

.addDiv {
  padding: 10px;
}

.btnAdd {
  width: 100%;
  align-items: center;
  background-clip: padding-box;
  background-color: rgb(150,0,150);
  border-radius: 8px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
}

.btnAdd:hover {
  background-color: rgb(180,0,180) !important;
}

.btnAdd:active {
  background-color: rgb(120,0,120);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
}

.buttonContent__Wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.buttonText {
  margin: 0;
  font-size: 20px;
}

.einzelnerMitarbeiter.selected {
  background: rgb(120,0,120);
}

.einzelnerMitarbeiter.einzelnerMitarbeiter.selected:hover {
  color: white;
}
