.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.flex-items:nth-child(1) {
  display: block;
  flex-grow: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  max-width: 25%;
}

.flex-items:nth-child(2) {
  display: block;
  flex-grow: 10;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  max-width: 75%;
}
